.mainDiv{
  max-width: 400px;
margin: 40px auto;
padding: 20px;
background-color:#ADDBF8;
border-radius: 8px;
box-shadow: 0 0 10px Orgba(0, 0, 0, 0.1);
text-align: center; 
}
.Sapace{
  height: 10px;
}